/*HERRAMIENTAS*/

html,
body {
  background-color: #f8f8f8 !important;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.body {
  overflow-x: hidden;
}
.body::-webkit-scrollbar {
  width: 5px;
}
.body::-webkit-scrollbar-thumb {
  background-color: #ff4438;
}
.body::-webkit-scrollbar-track {
  background: transparent;
}
.v-align {
  display: flex;
  align-items: center;
}
.max-w {
  max-width: 1240px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.space {
  margin-top: 120px;
}
.full {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}
a {
  text-decoration: none !important;
  color: initial !important;
}
.grecaptcha-badge {
  display: none !important;
}
/*FUENTES*/
/*moNIT*/
.mo-54 {
  font-family: 'DM Sans', sans-serif;
  font-size: min(9vw, 50px);
  color: #343A40;
}
.mo-42 {
  font-family: 'DM Sans', sans-serif;
  font-size: min(7vw, 35px);
  color: #343A40;
}
.mo-28 {
  font-family: 'DM Sans', sans-serif;
  font-size: min(9vw, 28px);
  color: #343A40;
}
.mo-18 {
  font-family: 'DM Sans', sans-serif;
  font-size: min(9vw, 18px);
  color: #343A40;
}
.mo-32 {
  font-family: 'DM Sans', sans-serif;
  font-size: min(9vw, 32px);
  color: #343A40;
}
.mo-16 {
  font-family: 'DM Sans', sans-serif;
  font-size: min(9vw, 16px);
  color: #343A40;
}
.mo-14 {
  font-family: 'DM Sans', sans-serif;
  font-size: min(9vw, 14px);
  color: #343A40;
}

.color {
  color: #C9A967 !important;
  font-weight: 600;
}
.bg-color {
  background-color: #C9A967 !important;
}
.c {
  color:#C9A967 ;
}
.icon-wp {
  cursor: pointer;
  display: block;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 10px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}
.m-50 {
  width: 50%;
}
@media (max-width: 426px) {
  .m-50 {
    width: 100%;
  }  
}
#error {
  color: #e10717;
}
@media (min-width: 768px) {
  .space {
    margin-top: 80px ;
  }
  .space2 {
    margin-top: 60px;
  }
  .icon-wp {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 426px) {
  .space {
    margin-top: 80px ;
  }
  .space2 {
    margin-top: 30px ;
  }
  .icon-wp {
    width: 50px;
    height: 50px;
  } 
}
/*BANNER*/


#owl1 {
  margin: auto 10% auto auto;
  width: 50%;
  height: 350px;
  background: #a07f46b7;
  opacity: 1;
  /*mix-blend-mode: multiply;*/
}
#owl1 .owl-dots{
  position: absolute;
  top: 10px;
  right: 50px;
  left: auto;
}
#owl1.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff !important;
}
#owl1.owl-theme .owl-dots .owl-dot span {
  background: transparent !important;
  border: #fff solid 2px;
}
#owl1 .owl-nav{
    
  bottom: 0;
  width: 100%;
  font-size: 40px;
}
#owl1.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 0;
  left: 100px;  
}
#owl1.owl-carousel .owl-nav button.owl-next span , #owl1.owl-carousel  .owl-nav button.owl-prev span{
 color: #fff;
}
#owl1.owl-carousel  .owl-nav button.owl-prev {
  position: absolute;
  bottom: 0;
  left: 50px;
 }


.owl-theme .owl-nav [class*=owl-]:hover {
  background:transparent !important;
  color: #FFF;
  text-decoration: none;
}
#owl1 .item {
  width: 80%;
    margin-right: 0;
    margin-left: auto;
}

.item-banner-home { 
  height: 70%;
  width: 100%;
  
  
}
.item-title-home {
  z-index: 1000;
  color: #fff;
  font-weight: 600;
  width: 100%;
  opacity: 1;
}
.btn-banner-home{
  width: 50%;
  background-color: #fff;
  color: #A07F46;
  font-weight: 700;
  border-radius: 25px;
  padding: 5px 0 4px 0;
  margin: 20px 0 40px auto;
  box-shadow: 1px 20px 45px #0000001a;
  border: none;
}
/*MENU*/
.navbar {
  background: #F5F5F5;
  height: 70px;
}
.nav-link {
  color: #343A40 !important;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #C9A967 !important;
}
.dropdown-menu {
  top: 55px !important;
  width: 362%;
}
@media (max-width: 1025px){
  .dropdown-menu {
    top: 70px !important;
    width: 300%;
  }
}
@media (max-width: 769px){
  .dropdown-menu {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .nav-link {
    padding-left: 40px !important;
    padding-right: 40px im !important;
  }  
}
.down-arrow {
  width: 5%;
}
/*SECCION 2*/
#home .sec-1 {
  background-color: #fff;
   box-shadow: 1px 20px 45px #0000001a;
}
.sec-1-2:hover{
  box-shadow: 1px 20px 45px #0000001a;
  background-color: rgba(255, 255, 255, 0.521);
  transition: all .3s ease-in-out;
  cursor: default;
}
 #home .cat1-img {
  background-image: url('../img/inicio/quienes-somos.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.sec-2-sub{
  width: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
}
.item-sec {
  cursor: default;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; 
  height: 560px;
  box-shadow: 1px 20px 45px #0000001a;
}

.item-1 {
  background-image: url('../img/inicio/item-1.png'); 
}
.item-2 {
  background-image: url('../img/inicio/item-2.png');
}
.item-3 {
  background-image: url('../img/inicio/item-3.png');  
}
.item-4 {
  background-image: url('../img/inicio/item-4.png'); 
}
.item-5 {
  background-image: url('../img/inicio/item-5.png');
}
.item-6 {
  background-image: url('../img/inicio/item-6.png');  
}
.item-7 {
  background-image: url('../img/servicios/img-consultoria.png');  
}
.item-8 {
  background-image: url('../img/servicios/img-asesoria.png');  
}
.item-9 {
  background-image: url('../img/servicios/img-gerenciamiento.png');  
}
.btn-item {
  background-color: #fff;
  color: #C9A967;
  border-radius: 25px;
  width: 50%;
  padding: 5px 0 4px 0;
  margin: 20px auto 40px auto;
  box-shadow: 1px 20px 45px #0000001a;
  border: none;
}

.item-pane {
  cursor: default;
  visibility: collapse;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  height: 0%;
  box-shadow: 1px 20px 45px #0000001a;
}


.stars-outer {
  display: inline-block;
  position: relative;
  font-family: "Font Awesome 5 Free";
}

.stars-outer::before {
  margin: 0 auto 0 auto;
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #000000 !important;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005 ";
  color: #f8ce0b;
}


.item-review {
  height: 330px;
  background-color: #fff;
  padding: 20px;
}

#owl2.owl-theme .owl-dots .owl-dot.active span, #owl2.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #C9A967;
}
#owl2.owl-theme .owl-dots .owl-dot span {
  border: solid 2px #C9A967;
  background-color: #fff;
}
#owl2 .owl-nav{
  top: 0;
  width: 100%;
  font-size: 40px;
}
#owl2.owl-carousel .owl-nav button.owl-next {
 position: absolute;
 top: 0;
 bottom:0;
 right: -30px;
}
#owl2.owl-carousel .owl-nav button.owl-next span , #owl2.owl-carousel  .owl-nav button.owl-prev span{
 color: #757575;
 font-size: 52px;
}
#owl2.owl-carousel  .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  bottom:0;
  left: -30px;
 }


form {
  margin: 0 auto;
  width: 100%;
}
label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 100%;
  text-align: left;
}
input,
textarea {
  color: #343a40;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px !important;
  padding: 15px;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid#C9A967;
}
textarea {
  vertical-align: top;
  resize: none !important;
  height: 5em;
}

.form-logo{
  width: 50%;
}
.btn-form {
  width: 80%;
  background-color: #C9A967;
  color: #fff;
  border-radius: 25px;
  box-shadow: 1px 20px 45px #0000001a;
  border: none;
}
.img-form {
  height: 100%;
  margin: auto 0 auto 40px;
}
.cat-form {
  width: 100%;
}
.footer{
  width: 100%;
  background-color: #343A40;
}
.btn-form-footer{
  height: 40px !important;
  width: 45px !important;
  background-color: #C9A967 ;
  border-radius: 1000px;
  border: none;
  background-image: url('../img/inicio/button-send.svg');
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}



@media (max-width: 769px) {
  /*FUENTES*/
/*monserrat*/
.mo-54 {
  font-size: min(4vw, 30px);
}
.mo-42 {
  font-size: min(4vw, 32px);
}
.mo-28 {
  font-size: min(4vw, 28px);
}
.mo-18 {
  font-size: min(3.3vw, 18px);
}
.mo-32 {
  font-size: min(9vw, 32px);
}
.mo-16 {
  font-size: min(1.8vw, 16px);
}
.mo-14 {
  font-size: min(9vw, 14px);
}
.item-sec {
  height: 400px;
}
.btn-item {
  margin: 10px auto 15px auto;
}
} 

@media (max-width: 425px) {
  #owl1 .item {
    width: 90%;
}
#owl1 {
  width: 70%;
  height: 250px;
}
.down-arrow {
  width: 10%  ;
}
  .item-sec {
    padding: 10px;
    width: 90% !important;
    margin: 0 auto 30px auto;
  }
  #owl2.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
}
#owl2.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
}
.sec-2-sub {
  width: 80%;
}


 /*FUENTES*/
/*monserrat*/
.mo-54 {
  font-size: min(4vw, 30px);
}
.mo-42 {
  font-size: min(6vw, 42px);
}
.mo-28 {
  font-size: min(5vw, 28px);
}
.mo-18 {
  font-size: min(3.3vw, 18px);
}
.mo-32 {
  font-size: min(7vw, 32px);
}
.mo-16 {
  font-size: min(4vw, 18px);
}
.mo-14 {
  font-size: min(9vw, 14px);
}
.item-sec {
  height: 400px;
}

.footer-logo {
 width: 40%;
}



}


